<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanglin.dao.AssetRTMapper" >
  <resultMap id="BaseResultMap" type="com.zhanglin.pojo.AssetRT" >
    <id column="NEWID" property="newid" jdbcType="DECIMAL" />
    <result column="CASH" property="cash" jdbcType="DECIMAL" />
    <result column="ASSET" property="asset" jdbcType="DECIMAL" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    NEWID, CASH, ASSET, UPDATETIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhanglin.pojo.AssetRTExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_ASSET_RT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_ASSET_RT
    where NEWID = #{newid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_ASSET_RT
    where NEWID = #{newid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zhanglin.pojo.AssetRT" >
    insert into T_ASSET_RT (NEWID, CASH, ASSET, 
      UPDATETIME)
    values (#{newid,jdbcType=DECIMAL}, #{cash,jdbcType=DECIMAL}, #{asset,jdbcType=DECIMAL}, 
      sysdate)
  </insert>
  <insert id="insertSelective" parameterType="com.zhanglin.pojo.AssetRT" >
    insert into T_ASSET_RT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newid != null" >
        NEWID,
      </if>
      <if test="cash != null" >
        CASH,
      </if>
      <if test="asset != null" >
        ASSET,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newid != null" >
        #{newid,jdbcType=DECIMAL},
      </if>
      <if test="cash != null" >
        #{cash,jdbcType=DECIMAL},
      </if>
      <if test="asset != null" >
        #{asset,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        sysdate,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhanglin.pojo.AssetRT" >
    update T_ASSET_RT
    <set >
      <if test="cash != null" >
        CASH = #{cash,jdbcType=DECIMAL},
      </if>
      <if test="asset != null" >
        ASSET = #{asset,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = sysdate,
      </if>
    </set>
    where NEWID = #{newid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhanglin.pojo.AssetRT" >
    update T_ASSET_RT
    set CASH = #{cash,jdbcType=DECIMAL},
      ASSET = #{asset,jdbcType=DECIMAL},
      UPDATETIME = sysdate
    where NEWID = #{newid,jdbcType=DECIMAL}
  </update>
  <delete id="deleteAll">
    delete from T_ASSET_RT
  </delete>
</mapper>