<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanglin.dao.DescomMapper" >
  <resultMap id="BaseResultMap" type="com.zhanglin.pojo.Descom" >
    <id column="NEWID" property="newid" jdbcType="DECIMAL" />
    <result column="ID" property="id" jdbcType="OTHER" />
    <result column="TIME" property="time" jdbcType="VARCHAR" />
    <result column="ISTRUE" property="istrue" jdbcType="DECIMAL" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="TSTATUS" property="tstatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    NEWID, ID, TIME, ISTRUE, UPDATETIME, TSTATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhanglin.pojo.DescomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_DESCOM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_DESCOM
    where NEWID = #{newid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_DESCOM
    where NEWID = #{newid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zhanglin.pojo.Descom" >
    insert into T_DESCOM (NEWID, ID, TIME, 
      ISTRUE, UPDATETIME)
    values (#{newid,jdbcType=DECIMAL}, #{id,jdbcType=OTHER}, #{time,jdbcType=VARCHAR}, 
      #{istrue,jdbcType=DECIMAL}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhanglin.pojo.Descom" >
    insert into T_DESCOM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newid != null" >
        NEWID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="time != null" >
        TIME,
      </if>
      <if test="istrue != null" >
        ISTRUE,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newid != null" >
        #{newid,jdbcType=DECIMAL},
      </if>
      <if test="id != null" >
        #{id,jdbcType=OTHER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="istrue != null" >
        #{istrue,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhanglin.pojo.Descom" >
    update T_DESCOM
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=OTHER},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="istrue != null" >
        ISTRUE = #{istrue,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where NEWID = #{newid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhanglin.pojo.Descom" >
    update T_DESCOM
    set ID = #{id,jdbcType=OTHER},
      TIME = #{time,jdbcType=VARCHAR},
      ISTRUE = #{istrue,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
    where NEWID = #{newid,jdbcType=DECIMAL}
  </update>
</mapper>