<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhanglin.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.zhanglin.pojo.Record" >
    <id column="MSGUID" property="msguid" jdbcType="OTHER" />
    <result column="ID" property="id" jdbcType="OTHER" />
    <result column="NEWID" property="newid" jdbcType="DECIMAL" />
    <result column="ORDERTIME" property="ordertime" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="TRADETYPE" property="tradetype" jdbcType="DECIMAL" />
    <result column="REALTIME" property="realtime" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MSGUID, ID, NEWID, ORDERTIME, CODE, TRADETYPE, REALTIME, NUM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhanglin.pojo.RecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from T_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select 
    <include refid="Base_Column_List" />
    from T_RECORD
    where MSGUID = #{msguid,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
    delete from T_RECORD
    where MSGUID = #{msguid,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.zhanglin.pojo.Record" >
    insert into T_RECORD (MSGUID, ID, NEWID, 
      ORDERTIME, CODE, TRADETYPE, 
      REALTIME, NUM)
    values (#{msguid,jdbcType=OTHER}, #{id,jdbcType=OTHER}, #{newid,jdbcType=DECIMAL}, 
      #{ordertime,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{tradetype,jdbcType=DECIMAL}, 
      #{realtime,jdbcType=VARCHAR}, #{num,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zhanglin.pojo.Record" >
    insert into T_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msguid != null" >
        MSGUID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="newid != null" >
        NEWID,
      </if>
      <if test="ordertime != null" >
        ORDERTIME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="tradetype != null" >
        TRADETYPE,
      </if>
      <if test="realtime != null" >
        REALTIME,
      </if>
      <if test="num != null" >
        NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msguid != null" >
        #{msguid,jdbcType=OTHER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=OTHER},
      </if>
      <if test="newid != null" >
        #{newid,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null" >
        #{tradetype,jdbcType=DECIMAL},
      </if>
      <if test="realtime != null" >
        #{realtime,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhanglin.pojo.Record" >
    update T_RECORD
    <set >
      <if test="id != null" >
        ID = #{id,jdbcType=OTHER},
      </if>
      <if test="newid != null" >
        NEWID = #{newid,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null" >
        ORDERTIME = #{ordertime,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="tradetype != null" >
        TRADETYPE = #{tradetype,jdbcType=DECIMAL},
      </if>
      <if test="realtime != null" >
        REALTIME = #{realtime,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
    </set>
    where MSGUID = #{msguid,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhanglin.pojo.Record" >
    update T_RECORD
    set ID = #{id,jdbcType=OTHER},
      NEWID = #{newid,jdbcType=DECIMAL},
      ORDERTIME = #{ordertime,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      TRADETYPE = #{tradetype,jdbcType=DECIMAL},
      REALTIME = #{realtime,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=DECIMAL}
    where MSGUID = #{msguid,jdbcType=OTHER}
  </update>
</mapper>